.start{
    margin:0; 
    font-family : Georgia , sans-serif , arial ;
    font-size:21px;
    color:white;
}
#activity{
    color:black;
    font-size:35px;
}
 a{text-decoration:none;}
 a:hover{background-color: yellow;}
 a{color:black;}

 
.photo1{
    float:right;
    border : 1px  solid #999999;
}
.photo2{
    float: left;
    border : 1px  solid #999999;
}
.adventure{
    color:red;
    font-size:22px;
}
.adventure p {
    color:white;
    background-color: gray;
    padding-left:8px;
}
.photo3{
    float:left;
    border : 1px  solid #999999;
}
.airactivities{
    text-align: left;
    color:gray;
    font-size:22px;
}
.airactivities p{
    text-align:left;
    background-color:gray;
    color:white;
    font-family: sans-serif , arial ;
}
.golf{
    text-align:left;
    font-size:21px;
    color:green;
}
.golf p{
    background-color:#999999;
    color:white;
     font-family: sans-serif , arial ;
}
.photo5{
float:left;
border : 1px  solid #999999;
}
.wateractivities{
    text-align: left;
    font-size:21px;
    color:blue;
}
.wateractivities p {
    background-color:#999999;
    color:blueviolet;
    font-family: sans-serif , arial ;
}
.photo6{
float:left;
border : 1px  solid #999999;
}
#holiday{
    text-align: center;
    
    color:black;
    font-size:35px;
}
.backpacking p {
    color:white;
     font-family: sans-serif , arial ;
}

.backpacking {
    font-size:21px;
}
.backpacking p{
    background-color:#999999;
    color:white;
     font-family: sans-serif , arial ;
}
#aktvitete{
    font-size:30px;
    color:red;
    padding-bottom: 0px;
}
#festa{
    font-size:30px;
    padding-top: 8px;
}
.photo7{
    float:left;
border : 1px  solid #999999;
}
.camping p {
   background-color:#999999;
    color:white;
     font-family: sans-serif , arial ;
     font-size:21px;
     text-align: left;
}
.camping {
    font-size:26px;
}

.photo8{
float:left;
border : 1px  solid #999999;
}
.familyfriendly{
    font-size:26px;
}
.familyfriendly p{
   background-color:#999999;
    color:white;
     font-family: sans-serif , arial ;
     font-size:21px;
     text-align: left;
}
.photo9{
    float:left;
    border: 1px solid #999999;
}
.luxurytravell{
    text-align:left;
    font-size:21px;
    
}
.luxurytravell p {
background-color:#999999;
    color:white;
     font-family: sans-serif , arial ;
     font-size:21px;
     text-align: left;
}
.photo10{
    float:left;
    border: 1px solid #999999;
}
.workingholiday{
     text-align:left;
    font-size:21px;
}
.workingholiday p{
        background-color:#999999;
    color:white;
     font-family: sans-serif , arial ;
     font-size:21px;
     text-align: left;
}