* {
    outline: none;
}

h1 {
    display: inline-block;
    font-size: 200%;
    font-weight: 500;
    width: 30%;
    margin: 0 8%;
    padding: 0;
    cursor: pointer;
    text-align: center;
}

.sign-in-title {
    padding-top: 1%;
    width: 35%;
    margin: auto 5%;
}

.wrapper {
    width: 40%;
    position: absolute;
}

.info-log-in {
    position: absolute;
    margin-left: 8%;
    top: 20%;
    left: 52%;
    width: 30%;
    height: 70%;
    padding: 0;
    float: left;
    background-color: aqua;
    border-radius: 10px;
}

.info {
    width: 80%;
    margin: 3% auto;
}

.info-log-in h1 {
    width: 50%;
    text-align: center;
    margin: 0 25%;
}

.sign-up-title {
    padding-top: 1%;
    width: 35%;
    margin: auto 60%;
}


#sign-in .details {
    width: 95%;
    margin: 0 2%;
    font-size: 155%;
    font-family: "Lato";
    background-color: rgba(226, 226, 226, 0.74);
    height: 80px;
}

#sign-up .details {
    width: 40%;
    margin: 0 58%;
    font-size: 155%;
    font-family: "Lato";
    background-color: rgba(226, 226, 226, 0.74);
    height: 80px;
}

.details:first-child {
    border-radius: 10px 10px 0 0;
}

.details:last-child {
    border-radius: 0px 0px 10px 10px;
}

.label {
    padding-top: 30px;
    width: 25%;
    float: left;
    margin-left: 10%;
}

input {
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 22px 1px 3px 0px;
    border: 1px solid #DDDDDD;
    height: 35px;
    width: 55%;
    border-radius: 8px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 22px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}

.active {
    border-radius: 10px 10px 0 0;
    background-color: rgba(226, 226, 226, 0.74);
}

.deactive {
    display: none;
}

#sign-in,
#sign-up {
    padding-top: 0;
    margin-top: 0;
}

#sign-up {
    display: none;
}

#bttn-in {
    width: 30%;
    margin-left: 35%;
    margin-top: 4%;
    height: 40px;
    font-family: "Times New Roman";
}

button {
    font-size: 130%;
    border-radius: 10px;
}
