.hphotos {
    padding-left: 1.2%;
}

cite img {
    border-radius: 50px;
    vertical-align: middle;
    margin-right: 1%;
}

.client {
    padding-left: 1.2%
}

body section {
    margin:1%  5.45%;
}
.table1 {
    margin: 1%
}

h2 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 0.2%;
    font-size: 180%;
    text-align: center;
    margin-bottom: 2%;
}

table {
    margin-left: 1%;
    text-align: center;
    border: solid 1pt black;
}

td {
    border: solid 1pt black;
    padding: 7pt;
}

th {
    border: solid 1pt black;
}

dl {
    text-align: center;
}
input[type=checkbox] + label {
    cursor: pointer;

}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2714";
    border: 2px solid #000;
    border-radius: 3.2px;
    padding: 4px 8px;
    color: transparent;
    transition: .2s;
}

input[type=checkbox]:checked + label:before {
    background-color: #999;
    border-color: #000;
    color: #000;
}



