* {
	-webkit-user-select: none;
}

section {
	margin: 0;
}

.client-photo {
	margin-right: 1%;
	border-radius: 50px;
	vertical-align: middle;
}

.client {
	padding-left: 1.2%
}

h2 {
	font-size: 180%;
	font-weight: 300;
	margin-bottom: 2%;
	word-spacing: 0.2%;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;

}

/******************************************************************************
                       Slideshow gallery css code
*******************************************************************************/

.places {
	margin: 0;
	border: 0;
}

.photos > img {
	width: 75%;
	resize: vertical;
	color: #ccc;
}

.slideShow {
	position: relative;

}

.photos {
	display: none;
}

.prev,
.next {
	top: 40%;
	width: auto;
	color: white;
	padding: 16px;
	font-size: 20px;
	cursor: pointer;
	margin-top: -50px;
	font-weight: bold;
	position: absolute;
	border-radius: 0 3px 3px 0;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
	top: 0;
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
}


.row:after {
	clear: both;
	display: table;
}

.column {
	float: left;
	width: 16.66%;
}

.small-photo {
	width: 100%;
	opacity: 0.6;
	cursor: pointer;
}

.active,
.small-photo:hover {
	opacity: 1;
}

.caption-container {
	text-align: center;
	padding: 13.5px 16px;
	background-color: #222;
	background: rgb(45, 45, 45);
	background: -moz-radial-gradient(center, ellipse cover, rgba(45, 45, 45, 1) 24%, rgba(45, 45, 45, 1) 56%, rgba(28, 28, 28, 1) 92%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(45, 45, 45, 1) 24%, rgba(45, 45, 45, 1) 56%, rgba(28, 28, 28, 1) 92%);
	background: radial-gradient(ellipse at center, rgba(45, 45, 45, 1) 24%, rgba(45, 45, 45, 1) 56%, rgba(28, 28, 28, 1) 92%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d2d2d', endColorstr='#1c1c1c', GradientType=1);
}


#slideShow-caption {
	color: #f8f4f4;
}

.photos {
	height: 425px;
	width: 100%;
	text-align: center;
	background-color: #171515;
	background: rgb(44, 44, 44);
	background: -moz-radial-gradient(center, ellipse cover, rgba(44, 44, 44, 1) 0%, rgba(71, 71, 71, 1) 20%, rgba(71, 71, 71, 1) 26%, rgba(28, 25, 18, 1) 84%, rgba(17, 17, 17, 1) 89%, rgba(19, 19, 19, 1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(44, 44, 44, 1) 0%, rgba(71, 71, 71, 1) 20%, rgba(71, 71, 71, 1) 26%, rgba(28, 25, 18, 1) 84%, rgba(17, 17, 17, 1) 89%, rgba(19, 19, 19, 1) 100%);
	background: radial-gradient(ellipse at center, rgba(44, 44, 44, 1) 0%, rgba(71, 71, 71, 1) 20%, rgba(71, 71, 71, 1) 26%, rgba(28, 25, 18, 1) 84%, rgba(17, 17, 17, 1) 89%, rgba(19, 19, 19, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c2c2c', endColorstr='#131313', GradientType=1);
}

.large-photos {
	width: 100%;
	height: 425px;
}

.places {
	margin: 0 -5.55%;
}



/******************************************************************************
                       Table css code
*******************************************************************************/
table {
	margin-left: 1%;
	text-align: center;
	border: solid 1pt black;
}

table tr:nth-child(2n) {
	background-color: rgba(206, 205, 205, 0.74);
}

table tr:nth-child(2n+1) {
	background-color: rgba(236, 236, 236, 0.74);
}

tr {
	padding: 0;
}

table tbody tr td:nth-child(6) {
	padding-top: 4px;
}

td {
	padding: 0 7px 0px 7px;

	border: solid 1px black;
}

table tbody tr td:nth-child(2) {
	padding: 0;

}

th {
	border: solid 1px black;
	width: 240px;
}

dl {
	text-align: center;
}

table img {
	display: block;
}

input[type=checkbox] + label {
	cursor: pointer;

}

input[type=checkbox] {
	display: none;
}

input[type=checkbox] + label:before {
	content: "\2714";
	padding: 4px 8px;
	transition: 0.2s;
	color: transparent;
	border-radius: 3.2px;
	border: 2px solid #000;
}

input[type=checkbox]:checked + label:before {
	color: #000;
	border-color: #000;
	background-color: #999;
}

.table1 {
	margin: 1%;
}

.tickets-number {
	width: 60px;
	font-size: 15px;
	padding: 3px 2px 4px;
	text-decoration: none;
	border: 2px solid black;
}

.radio-button-for-weight input[type=radio] {
	opacity: 0;
	float: left;
	position: absolute;
}

.radio-button-for-weight input[type=radio] + label {
	cursor: pointer;
	position: relative;
	padding: 3px 0 0 4px;
}

.radio-button-for-weight input[type=radio] + label:before {
	content: "\2714";
	transition: 0.2s;
	padding: 0px 5px;
	color: transparent;
	border-radius: 3.2px;
	border: 2px solid #000;
}

.table-form input[type=radio]:checked + label:before {
	color: #000;
	border-color: #000;
	background-color: #999;
}


/* Cars section*/
.fphoto {
	margin-left: 50px;
}

#btn1,
#btn2 {
	font-size: 20px;
	padding: 6px 10px;
	text-align: center;
	margin: 20px 497px;
	border-radius: 25px;
	border: 2px solid #666666;
}

figure {
	padding: 6px;
}

figcaption {
	text-align: center;
}

output {
	height: 30px;
	display: block;
	padding-top: 20px;
}

button {
	outline: none;
}

.pay {
	margin: 0;
	padding: 10px 0px;
	border-radius: 0px;
	background-color: #2f2f2f;

}


.img-space {
	float: right;
	position: relative;
}



.content-space {
	opacity: 0;
	width: 20px;
	color: #fff;
	display: flex;
	padding-top: 2px;
	position: absolute;
	visibility: hidden;
	align-items: center;
	justify-content: center;
	-webkit-transition: opacity 0.2s, visibility 0.2s;
	-o-transition: opacity 0.2s, visibility 0.2s;
	-moz-transition: opacity 0.2s, visibility 0.2s;
	-ms-transition: opacity 0.2s, visibility 0.2s;
}


.img-space:hover .content-space {
	opacity: 1;
	visibility: visible;
}

.weights-content {
	opacity: 1;
	-webkt-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-webkit-transform: translateX(-27px);
	-moz-transform: translateX(-27px);

}
