/******************************************************************************
                        Header
*******************************************************************************/
header row{
    padding-top: 20px;
}
.row1{
    margin-top: -20px;
    margin-bottom: 0;
    padding-top: 0;
    
}
.hcol{
margin-top: -10px;
margin-bottom: -25px;
}

header h1{
    font-size: 65px;
    color:lightblue;
    margin-top: 20px;
    padding-bottom: 0px;
    margin-bottom: -20px;
  
}
p1{
    padding-top: -15px;
}
a:link{
    text-decoration: none;   
}
a:link,a:hover{
    color:orange;
}
a:link,a:active{
    color:red;
}
.l1e2{
    padding-top: 5px;
}
dt{
    text-transform: uppercase;
     padding-top: 7px;
}
dd{
    margin-left:auto;   
}


/*******************************************************************************
                                    Work Description - Start
*******************************************************************************/
.work_description img{
    width:60px;
    float:left;
    margin: 7px 5px 0px 5px;
    border-radius:6px;
    
} 
#info_text{
    font-size: 150%;
}
.box:first-child{
    margin-left:0;
    padding-left:0;
}
.box{
    margin-left:0.3%; 
    background-color:white;
    border-radius: 10px;
}


/*******************************************************************************
                                    Contact - Start
*******************************************************************************/

.contact{
   padding-bottom: 10px;
}
.contact p{
    margin:0;
    font-size: 130%;
}
.contact row{
    padding-bottom: 25px;
}
.contact button{
    width:auto;
    height: 30px;
    font-size:120%;
    border-radius: 6px;
    border-style: none;
    border: 2px solid #DEDEDE;
    margin-left:15px;
}
.contact input{
    font-size:120%;
    height: 25px;
    width: 100%;
    margin:0;
}
/*==============================================================================
                                    Contact us
==============================================================================*/


.cntc{
    float: left; 
}
.cntc p{
    margin-top: 10px;
}
.cntc hr{
    margin-top: -10px;
}
.cntc button{
    margin-top:15px;
}
#submit{
    margin-left:0px;
}
.soc{
    padding: 22px 0px;;
    float: left;
}
.cntc h2{
    text-transform: capitalize;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 200%;
}
.credits, .credits p{
    margin: 0;
}
.credits:last-child{
    text-align: right;
}
#message{
    width: 100%;
    height: 150px;   
    resize: none;
    font-family: sans-serif;
    font-size: 115%;
}
.details{
    width: 49.2%;
}

/*==============================================================================
                                    Social
==============================================================================*/

.soc img{
    width:45%;
    height:auto;
    padding: 0 2%;
}
.soc input{
    width:82%;
    margin-top:-1%
}
.soc p{
    margin-top:0.5px;
    height:30px;
    font-weight: 300;
    text-align: center;
    font-size: 140%;
    background-color: #3946c2;
}

/*******************************************************************************
                                    Contact - End
*******************************************************************************/


li{
    display:inline-block;
}

