body{
    background: whitesmoke; 
}
header{
    clear:both;
}
footer{
    background-color: #AAAAAB;
    height:50px;
    font-size: 140%;
    padding-left: 20px;
    padding-right:20px;
}
section{
    padding: 80px 10px;
    clear: both;
}
.row:before,
.row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}
.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child { 
    margin-left: 0; 
}
.span1-2{
    width:49.2%;
}
.span1-3{
    width: 32.9%;
}
.span2-3{
    width: 65.8%;
}
.span3-3{
    width:98.7%;
}
.span1-4{
    width:24.6%;
}
.span2-4{
    width:49.2%
}
.span3-4{
    width:74.8%;
}
.span1-5{
    width:19.6%;
}
.span2-5{
    width:39.2%;
}
.span3-5{
    width:58.8%;
}
.span4-5{
    width:78.4%;
}
.span5-5{
    width:100%;
    
}
