/******************************************************************************
                        Header
*******************************************************************************/
header {
    padding-bottom: 1%;
    background: rgb(142, 142, 142);
    background: -moz-linear-gradient(left, rgba(142, 142, 142, 1) 1%, rgba(165, 165, 165, 1) 17%, rgba(153, 153, 153, 1) 33%, rgba(142, 142, 142, 1) 51%, rgba(153, 153, 153, 1) 59%, rgba(137, 137, 137, 1) 71%, rgba(153, 153, 153, 1) 84%, rgba(132, 132, 132, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(142, 142, 142, 1) 1%, rgba(165, 165, 165, 1) 17%, rgba(153, 153, 153, 1) 33%, rgba(142, 142, 142, 1) 51%, rgba(153, 153, 153, 1) 59%, rgba(137, 137, 137, 1) 71%, rgba(153, 153, 153, 1) 84%, rgba(132, 132, 132, 1) 100%);
    background: linear-gradient(to right, rgba(142, 142, 142, 1) 1%, rgba(165, 165, 165, 1) 17%, rgba(153, 153, 153, 1) 33%, rgba(142, 142, 142, 1) 51%, rgba(153, 153, 153, 1) 59%, rgba(137, 137, 137, 1) 71%, rgba(153, 153, 153, 1) 84%, rgba(132, 132, 132, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8e8e8e', endColorstr='#848484', GradientType=1);
}



header:first-child {
    text-align: right;
}

.header-name {
    text-align: left;
    padding-left: 2%;
    font-weight: 600;
}

.header-date {
    text-align: left;
}

#date {
    font-weight: 100;
    padding-top: 3px;
    margin-top: 5px;
    font-size: 15px;

}

.col {
    margin: 3px 0 0 0;
}

nav a:link,
nav a:hover,
nav a:visited {
    text-decoration: none;
}

header li {
    display: inline;
    text-transform: uppercase;
    padding: 0.30% 1.5% 0.40% 1.5%;
    font-size: 60%;
    border-bottom: 0px white;
    transition: all 0.4s;
    cursor: pointer;
}

li:hover,
li:active {
    border-bottom: 0.8px solid rgba(157, 157, 157, 0.74);
}

/******************************************************************************
                        Footer
*******************************************************************************/
.credits {
    margin: 0;
}

.credits p {
    margin: 0.5% 0;
    margin-left: 8%;
}

#year {
    margin-left: 75%;
}
