/******************************************************************************
                        Header
*******************************************************************************/
header{
    clear:both;
    margin:0;
}
.row1{
    margin-top: -20px;
    margin-bottom: 0;
    padding-top: 0;
}
.hcol{
margin-top: -10px;
margin-bottom: -25px;
}

header h1{
    font-size: 65px;
    color:lightblue;
    margin-top: 20px;
    padding-bottom: 0px;
    margin-bottom: -20px;
  
}
p1{
    padding-top: -15px;
}
a:link{
    text-decoration: none;   
}
a:link,a:hover{
    color:orange;
}
a:link,a:active{
    color:red;
}
.l1e2{
    padding-top: 5px;
}
dt{
    text-transform: uppercase;
     padding-top: 7px;
}
dd{
    margin-left:auto;   
}

