/******************************************************************************
                        Header
*******************************************************************************/
header{
    clear:both;
    margin:0;
}
.row1{
    margin-top: -15px;
    margin-bottom: 0;
    padding-top: 0;
}
.hcol{
margin-top: -10px;
margin-bottom: -25px;
}

header h1{
    font-size: 65px;
    color:lightblue;
    margin-top: 20px;
    padding-bottom: 0px;
    margin-bottom: -20px;
  
}
.elementet{
    padding-left: 30px;
}
p1{
    padding-top: -15px;
}
nav a:link, nav a:visited{
    text-decoration: none;  
     color:orange;
}
nav a:hover, nav a:active{
    color:red;
}

.l1e2{
    padding-top: 5px;
}
dt{
    text-transform: uppercase;
     padding-top: 7px;
}
dd{
    margin-left:auto;  
    font-size: 13px;
    font-weight: 100;
}

